.project.gallery
  .c
    .project__main
      .project__info
        .project__category БИЗНЕСС
        .project__title Citrus Fitness Любимый
        .project__items
          .project__item
            .project__label ГОД ОТКРЫТИЯ:
            .project__value 2019 год
          .project__item
            .project__label РАСПОЛОЖЕНИЕ:
            .project__value Оренбург, Россия
          .project__item
            .project__label МЕТРАЖ:
            .project__value 3000 м. кв.
      a.project__picture.gallery__item(href=require('src/modules/project/img/img.jpg') target='_blank' data-pswp-width=1830 data-pswp-height=880)
        img(src=require('src/modules/project/img/img.jpg'))
    .project__images
      a.project__image.gallery__item(href=require('src/modules/project/img/img.jpg') target='_blank' data-pswp-width=1830 data-pswp-height=880): img(src=require('src/modules/project/img/img.jpg'))
      a.project__image.gallery__item(href=require('src/modules/project/img/img.jpg') target='_blank' data-pswp-width=1830 data-pswp-height=880): img(src=require('src/modules/project/img/img.jpg'))
      a.project__image.gallery__item(href=require('src/modules/project/img/img.jpg') target='_blank' data-pswp-width=1830 data-pswp-height=880): img(src=require('src/modules/project/img/img.jpg'))
      a.project__image.gallery__item(href=require('src/modules/project/img/img.jpg') target='_blank' data-pswp-width=1830 data-pswp-height=880): img(src=require('src/modules/project/img/img.jpg'))
      a.project__image.gallery__item(href=require('src/modules/project/img/img.jpg') target='_blank' data-pswp-width=1830 data-pswp-height=880): img(src=require('src/modules/project/img/img.jpg'))
