.team
  .c
    .team__container.gallery
      .team__main
        .team__head
          .team__placeholder
          .team__title
            | КОМАНДА #[br]
            | LAB SEVENTEEN
        a.team__card.team__card--big.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
          img.team__img(src=require('src/modules/team/img/img.jpg'))
          .team__content
            .team__name Сергей Рябов
            .team__label архитектор, дизайнер
            .team__position идеолог компании Lab Seventeen, руководитель и главный архитектор проектов, обладающий двадцатилетним опытом работы

      .team__aside
        .team__items
          .team__item
            a.team__card.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
              img.team__img(src=require('src/modules/team/img/img.jpg'))
              .team__content
                .team__name Дмитрий
                .team__position изобретатель пространства
          .team__item
            a.team__card.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
              img.team__img(src=require('src/modules/team/img/img.jpg'))
              .team__content
                .team__name Анна
                .team__position криэйтор фантазий
          .team__item
            a.team__card.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
              img.team__img(src=require('src/modules/team/img/img.jpg'))
              .team__content
                .team__name Александр
                .team__position совершенствователь форм
          .team__item
            a.team__card.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
              img.team__img(src=require('src/modules/team/img/img.jpg'))
              .team__content
                .team__name Елена
                .team__position лидер решений
          .team__item
            a.team__card.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
              img.team__img(src=require('src/modules/team/img/img.jpg'))
              .team__content
                .team__name Алексей
                .team__position гуру инжиниринга
          .team__item
            a.team__card.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
              img.team__img(src=require('src/modules/team/img/img.jpg'))
              .team__content
                .team__name Елизавета
                .team__position дизайнер эмоций
          .team__item
            a.team__card.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
              img.team__img(src=require('src/modules/team/img/img.jpg'))
              .team__content
                .team__name Елизавета
                .team__position дизайнер эмоций
          .team__item
            a.team__card.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
              img.team__img(src=require('src/modules/team/img/img.jpg'))
              .team__content
                .team__name Елизавета
                .team__position дизайнер эмоций
          .team__item
            a.team__card.gallery__item(href=require('src/modules/team/img/img.jpg') target='_blank' data-pswp-width=864 data-pswp-height=864)
              img.team__img(src=require('src/modules/team/img/img.jpg'))
              .team__content
                .team__name Елизавета
                .team__position дизайнер эмоций
